<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PodcatcherDotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <PodcatcherDotNet.Properties.Settings>
      <setting name="UpdateInterval" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="DownloadFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ReplaceId3Tags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DownloadAsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdatesEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayNotifyIcon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoGoToDownloadScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCustomBrowser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomBrowserExe" serializeAs="String">
        <value />
      </setting>
      <setting name="ConvertM4aToMp3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DownloadTimeout" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="LastUpdated" serializeAs="String">
        <value />
      </setting>
      <setting name="ExternalBrowserDefault" serializeAs="String">
        <value>False</value>
      </setting>
    </PodcatcherDotNet.Properties.Settings>
  </userSettings>
</configuration>
